page{
    height: 100%;
}
//元素自动换行类
.wordWrapView{
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-line;
}
//文本位置
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}