@import './../../style/common.less';
.index{
    border: 1rpx solid red;
    height: 100%;
    .toAbout{
        border: 1rpx solid green;
        position: absolute;
        bottom: 20rpx;
        width: 50%;
        text-align: center;
        height: 100rpx;
        line-height: 100rpx;
        margin-left: 25%;
    }
}